select {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #666;
    border: none;
    outline: none;
    background-color: #ebf5fb;
    border-bottom: 1px solid #2980b9;
    padding: 2px;
}