
* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #666;
    line-height: 18px;
}

ul {
    padding: 0 18px;
    width: auto;
   
    > li {
        .title {
            display: inline-block;
            padding: 2px 4px;

            &:hover {
                background-color: #ebf5fb;
            }
        }
    }

    .hasChildren {
        cursor: pointer;
   
        .expanded::after {
            content: "[-]";
            color: #2980b9;        
            letter-spacing: 2px;
        }
    
        .collapsed::after {
            content: "[+]";
            color: #2980b9;        
        }
    }

}

