
<ng-container *ngIf="jsonData">
    <ng-container  *ngTemplateOutlet="treeViewList; context:{$implicit:jsonData}">
    </ng-container>
  
    <ng-template #treeViewList let-list>
      <ul>
        <li *ngFor="let node of list; let i=index">
          <span *ngIf="node.children" class="title hasChildren" (click)="toggleExpand(node)"> 
            {{ node.name }} 
            <span [ngClass]="(node.expanded) ? 'expanded' : 'collapsed'" ></span>
          </span>
          <span *ngIf="!node.children" class="title"> {{ node.name }} </span>
          <ng-container *ngIf="node.expanded">
            <ng-container  *ngTemplateOutlet="treeViewList; context:{$implicit: node.children}">
            </ng-container>
          </ng-container>
        </li>
      </ul>
    </ng-template>
  </ng-container>
  